<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/cda-2022/blob/main/notebooks/cda_11_gee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the data

In [ ]:
!wget -q --show-progress -O beer-gee.xlsx https://github.com/DepartmentOfStatisticsPUE/cda-2022/blob/main/data/beer-gee.xlsx?raw=true

## Python solution

In [1]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas as pd

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [18]:
df = pd.read_excel("beer-gee.xlsx")
df.head(n=10)

   id  size locality   education  beers  time
0   1     4   50-99k  profession      8     1
1   1     4   50-99k  profession     12     2
2   1     4   50-99k  profession     13     3
3   1     4   50-99k  profession      6     4
4   1     4   50-99k  profession      6     5
5   1     4   50-99k  profession     18     6
6   1     4   50-99k  profession      8     7
7   1     4   50-99k  profession      2     8
8   1     4   50-99k  profession      1     9
9   1     4   50-99k  profession      8    10

In [23]:
m1 = sm.GEE.from_formula(
    "beers ~ size + locality + education + C(time)",  
    groups = df["id"], 
    data = df,
    cov_struct=sm.cov_struct.Independence(), 
    family=sm.families.Poisson()).fit()

m2 = sm.GEE.from_formula(
    "beers ~ size + locality + education + C(time)",  
    groups = df["id"], 
    data = df,
    cov_struct=sm.cov_struct.Exchangeable(), 
    family=sm.families.Poisson()).fit()

There is the problem with autoregressive model

In [ ]:
m3 = sm.GEE.from_formula(
    "beers ~ size + locality + education + C(time)",  
    groups = df["id"], 
    data = df,
    time = df["time"],
    cov_struct=sm.cov_struct.Autoregressive(), 
    family=sm.families.Poisson()).fit()

In [29]:
print(m1.summary())

                               GEE Regression Results
===================================================================================
Dep. Variable:                       beers   No. Observations:                 5868
Model:                                 GEE   No. clusters:                      489
Method:                        Generalized   Min. cluster size:                  12
                      Estimating Equations   Max. cluster size:                  12
Family:                            Poisson   Mean cluster size:                12.0
Dependence structure:         Independence   Num. iterations:                     2
Date:                     Wed, 25 May 2022   Scale:                           1.000
Covariance type:                    robust   Time:                         07:26:49
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                   3.1452      0.278     11.331      0.000       2.601       3.689
locality[T.20-49k]          0.0468      0.134      0.348      0.728      -0.217       0.310
locality[T.200-500k]        0.0919      0.133      0.691      0.490      -0.169       0.353
locality[T.50-99k]         -0.0935      0.144     -0.648      0.517      -0.376       0.189
locality[T.500k+]          -0.0597      0.154     -0.388      0.698      -0.361       0.241
locality[T.to 19k]          0.0386      0.156      0.247      0.805      -0.267       0.345
locality[T.village]        -0.1591      0.128     -1.246      0.213      -0.409       0.091
education[T.profession]    -0.2131      0.248     -0.859      0.391      -0.699       0.273
education[T.secondary]     -0.1688      0.249     -0.678      0.498      -0.656       0.319
education[T.university]    -0.1883      0.253     -0.745      0.456      -0.684       0.307
C(time)[T.2]               -0.0587      0.031     -1.916      0.055      -0.119       0.001
C(time)[T.3]                0.0775      0.031      2.484      0.013       0.016       0.139
C(time)[T.4]               -0.0773      0.031     -2.484      0.013      -0.138      -0.016
C(time)[T.5]               -0.0761      0.036     -2.099      0.036      -0.147      -0.005
C(time)[T.6]               -0.0756      0.034     -2.203      0.028      -0.143      -0.008
C(time)[T.7]               -0.0855      0.035     -2.461      0.014      -0.154      -0.017
C(time)[T.8]                0.0386      0.037      1.040      0.298      -0.034       0.111
C(time)[T.9]                0.0082      0.034      0.242      0.809      -0.058       0.074
C(time)[T.10]               0.0296      0.036      0.830      0.407      -0.040       0.100
C(time)[T.11]               0.0345      0.038      0.904      0.366      -0.040       0.109
C(time)[T.12]               0.1262      0.039      3.220      0.001       0.049       0.203
size                        0.0637      0.043      1.500      0.134      -0.020       0.147
==============================================================================
Skew:                          2.4312   Kurtosis:                       8.0651
Centered skew:                 0.6226   Centered kurtosis:              5.5294
==============================================================================

In [30]:
print(m2.summary())

                               GEE Regression Results
===================================================================================
Dep. Variable:                       beers   No. Observations:                 5868
Model:                                 GEE   No. clusters:                      489
Method:                        Generalized   Min. cluster size:                  12
                      Estimating Equations   Max. cluster size:                  12
Family:                            Poisson   Mean cluster size:                12.0
Dependence structure:         Exchangeable   Num. iterations:                     6
Date:                     Wed, 25 May 2022   Scale:                           1.000
Covariance type:                    robust   Time:                         07:26:57
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                   3.1574      0.278     11.354      0.000       2.612       3.702
locality[T.20-49k]          0.0331      0.131      0.253      0.800      -0.223       0.289
locality[T.200-500k]        0.0898      0.129      0.694      0.488      -0.164       0.343
locality[T.50-99k]         -0.0685      0.138     -0.495      0.621      -0.340       0.203
locality[T.500k+]          -0.0654      0.144     -0.455      0.649      -0.347       0.217
locality[T.to 19k]          0.0381      0.154      0.248      0.804      -0.263       0.339
locality[T.village]        -0.1384      0.128     -1.084      0.278      -0.389       0.112
education[T.profession]    -0.1894      0.253     -0.750      0.453      -0.684       0.306
education[T.secondary]     -0.1605      0.254     -0.633      0.527      -0.658       0.337
education[T.university]    -0.1967      0.258     -0.763      0.446      -0.702       0.309
C(time)[T.2]               -0.0587      0.031     -1.916      0.055      -0.119       0.001
C(time)[T.3]                0.0775      0.031      2.484      0.013       0.016       0.139
C(time)[T.4]               -0.0773      0.031     -2.484      0.013      -0.138      -0.016
C(time)[T.5]               -0.0761      0.036     -2.099      0.036      -0.147      -0.005
C(time)[T.6]               -0.0756      0.034     -2.203      0.028      -0.143      -0.008
C(time)[T.7]               -0.0855      0.035     -2.461      0.014      -0.154      -0.017
C(time)[T.8]                0.0386      0.037      1.040      0.298      -0.034       0.111
C(time)[T.9]                0.0082      0.034      0.242      0.809      -0.058       0.074
C(time)[T.10]               0.0296      0.036      0.830      0.407      -0.040       0.100
C(time)[T.11]               0.0345      0.038      0.904      0.366      -0.040       0.109
C(time)[T.12]               0.1262      0.039      3.220      0.001       0.049       0.203
size                        0.0559      0.042      1.341      0.180      -0.026       0.138
==============================================================================
Skew:                          2.4383   Kurtosis:                       8.0792
Centered skew:                 0.6228   Centered kurtosis:              5.5301
==============================================================================

Estimated $\alpha$ can be found here.

In [34]:
m2.cov_struct.dep_params

0.7062544156049541