<a href="https://colab.research.google.com/github/DepartmentOfStatisticsPUE/cda-2022/blob/main/notebooks/cda_8_glm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

R

In [2]:
%load_ext rpy2.ipython

Julia

In [ ]:
%%bash
wget -q https://julialang-s3.julialang.org/bin/linux/x64/1.7/julia-1.7.2-linux-x86_64.tar.gz
tar zxvf julia-1.7.2-linux-x86_64.tar.gz
## python's module
pip install julia

In [ ]:
import julia
julia.install(julia = "/content/julia-1.7.2/bin/julia")
from julia import Julia
jl = Julia(runtime="/content/julia-1.7.2/bin/julia",compiled_modules=False)
%load_ext julia.magic

In [ ]:
%%julia
using Pkg
Pkg.add("StatsBase")
Pkg.add("GLM")
Pkg.add("DataFrames")
Pkg.add("CategoricalArrays")

In [ ]:
%%julia
using StatsBase
using GLM
using CategoricalArrays
using Statistics

## GLM in Python

In [6]:
df= pd.read_csv("https://raw.githubusercontent.com/DepartmentOfStatisticsPUE/cda-2022/main/data/count-data.csv")
df["occup1"].astype("category")
df["prof"] = df["occup1"] == 2
df.head()

,id,year,occup1,woj,nace,technical,math,artistic,computer,cognitive,managerial,interpersonal,individual,physical,availability,office,total_skills,prof
0,626307,2014,5,4,M,0,0,1,0,0,0,0,1,0,0,0,2,False
1,626305,2014,5,12,M,0,0,0,0,0,0,0,0,0,0,0,0,False
2,617154,2014,7,14,C,0,0,0,0,0,0,0,0,0,0,0,0,False
3,617155,2014,7,14,C,0,0,0,0,0,0,0,0,0,0,0,0,False
4,632044,2014,3,24,C,0,0,0,0,0,0,1,0,1,0,0,2,False

In [7]:
mod1 = smf.glm(formula="total_skills ~ prof", data=df, family=sm.families.Poisson()).fit()
print(mod1.summary())

                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:           total_skills   No. Observations:                12914
Model:                            GLM   Df Residuals:                    12912
Model Family:                 Poisson   Df Model:                            1
Link Function:                    log   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -24305.
Date:                Wed, 13 Apr 2022   Deviance:                       15512.
Time:                        07:58:33   Pearson chi2:                 1.20e+04
No. Iterations:                     4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.9669      0.006    148.975      0.000       0.954       0.980
prof[T.True]     0.0729      0.012      6.320      0.000       0.050       0.096
================================================================================

In [9]:
np.exp(mod1.params)

Intercept       2.629777
prof[T.True]    1.075627
dtype: float64

Get details about given family

In [21]:
list(filter(lambda k: '_' not in k, dir(sm.families.Poisson())))

['deviance',
 'fitted',
 'link',
 'links',
 'loglike',
 'predict',
 'valid',
 'variance',
 'weights']

In [27]:
sm.families.Poisson().links

[statsmodels.genmod.families.links.log,
 statsmodels.genmod.families.links.identity,
 statsmodels.genmod.families.links.sqrt]